.empty-seat {
  box-shadow: none;
  opacity: 0.3;
}
.player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
face {
  background: url("../img/back.jpg") center/contain no-repeat;
}
.empty-seat face {
  background: url("") #e6e6e6;
}
.info {
  height: 40px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.sub-info {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
}
game-info {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
game-info > label.icon {
  margin: 0;
  margin-left: 8px;
}
pos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  font-size: 12px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 4px;
  font-weight: bold;
  color: #000;
  opacity: 0.54;
  flex: 0 0 auto;
}
.ready-ripple {
  position: absolute;
  background-color: #5bc5be96;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: -28px;
  top: -28px;
  width: 112px;
  height: 112px;
  padding-right: 36px;
  font-size: 12px;
  transition: all 0.475s ease-in-out;
  opacity: 0;
  transform: scale(0, 0);
  box-sizing: border-box;
  animation: inifital-waving 0.926s infinite alternate-reverse
    ease-in-out;
}
.ready-ripple[value="true"] {
  opacity: 1;
  transform: scale(1, 1);
}
.ready-ripple.bloom {
  animation: fill-blooming 1.275s ease-out;
}
@keyframes inifital-waving {
  from {
    width: 112px;
    height: 112px;
    top: -28px;
    opacity: 1;
  }
  to {
    width: 144px;
    height: 144px;
    top: -44px;
    opacity: 0.72;
  }
}
@keyframes inifital-waving {
}

/* Room Status */
#room-status-records {
  max-height: 420px;
}
#room-status-records p {
  margin: 4px;
}

.shake {
  animation: shake 0.625s linear;
}
@keyframes shake {
  8% {
    transform: translate(-12px, 0);
  }
  16% {
    transform: translate(12px, 0);
  }
  24% {
    transform: translate(-8px, 0);
  }
  32% {
    transform: translate(8px, 0);
  }
  40% {
    transform: translate(-6px, 0);
  }
  48% {
    transform: translate(6px, 0);
  }
  59% {
    transform: translate(-4px, 0);
  }
  64% {
    transform: translate(4px, 0);
  }
  72% {
    transform: translate(-2px, 0);
  }
  80% {
    transform: translate(2px, 0);
  }
  88% {
    transform: translate(-1px, 0);
  }
  96% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
charactor {
  height: 16px;
  line-height: 16px;
  padding-right: 8px;
  float: left;
  opacity: 0.54;
}
game-cards {
  display: block;
  height: auto;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
game-cards > wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 364px;
}
game-cards > wrapper:empty {
  height: 0;
}
game-card {
  display: inline-block;
  position: relative;
  width: 81px;
  height: 125px;
  margin: 8px;
  border-radius: 4px;
  background-size: cover;
  animation: gameCardFadeIn 0.325s cubic-bezier(0, 0, 0.2, 1);
}
game-card + game-card {
  margin-left: 0;
}
@keyframes gameCardFadeIn {
  from {
    width: 0;
  }
  to {
    width: 81px;
  }
}
@keyframes gameCardFadeOut {
  0% {
    box-shadow: none;
    transform: scale(1, 1);
  }
  72% {
    width: 81px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.06, 1.06);
  }
  100% {
    width: 0;
    box-shadow: none;
  }
}
.activities {
  margin: 0 8px 80px 8px;
  max-width: 992px;
}
.discard-pile {
  padding: 8px;
}
@media (min-width: 1024px) {
  .activities {
    margin: 8px auto 8px auto;
    margin-top: 128px;
    max-width: 25%;
    min-width: 258px;
  }
}
.slot {
  height: 48px;
  margin: 8px 0;
}
.slot-text {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slot-bar {
  height: 4px;
  margin: 4px 0;
  background-color: rgba(0, 0, 0, 0.26);
}
.slot-bar-used {
  height: 100%;
  transition: width 0.325s cubic-bezier(0, 0, 0.2, 1);
}
h1.winner {
  margin: 8px;
  text-align: center;
  font-weight: bold;
}
animation-abraca {
  width: 240px;
  height: 240px;
  z-index: 17;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  animation: animation-abraca 1.6s ease-out;
}
animation-abraca > abraca-1 {
  width: 240px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-image: url(../img/animation/abraca1.png);
  animation: abraca-a 1.6s linear;
}
animation-abraca > abraca-2 {
  width: 240px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-image: url(../img/animation/abraca2.png);
  animation: abraca-b 1.6s linear;
}
@keyframes animation-abraca {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  18% {
    opacity: 1;
    transform: scale(1.02, 1.02);
  }
  20% {
    transform: scale(1, 1);
  }
  72% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes abraca-a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
@keyframes abraca-b {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-270deg);
  }
}

#command-list .icon {
  color: inherit;
}
