@import "SndelMaterial/appBar.css";
@import "SndelMaterial/tabsBar.css";
@import "SndelMaterial/card.css";
@import "SndelMaterial/button.css";
@import "SndelMaterial/textField.css";
@import "SndelMaterial/drawer&list.css";
@import "SndelMaterial/ripple.css";
@import "SndelMaterial/table.css";
@import "SndelMaterial/snackBar.css";
@import "SndelMaterial/loading.css";
@import "SndelMaterial/bottomNav.css";
@import "SndelMaterial/mask.css";
@import "SndelMaterial/tag.css";
:root {
  --primary: #5bc5be;
  --accent: #d75ba6;
  --warning: #ea4;
  --error: #ff1744;
}
* {
  font-family: Roboto, "Microsoft YaHei";
}
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: #e8e8e8;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: stretch;
  opacity: 0;
  transition: opacity 0.275s ease-in-out;
}
@media (min-width: 1024px) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
}
@media (max-width: 1024px) and (min-width : 768px) {
  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
main-viewport {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
layout {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 0;
}
h3,
caption {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
sup {
  font-size: 0.6em;
  margin: 0 8px;
}
.card h3,
h4,
h5 {
  margin: 8px 0;
}
p,
li {
  margin: 8px 0;
  line-height: 1.5em;
  word-break: break-all;
  font-size: 14px;
}
.icon {
  vertical-align: middle;
  font-size: 24px;
  display: inline-block;
}
.icon:before {
  vertical-align: middle;
  display: inline-block;
  line-height: inherit;
  color: inherit;
}
brife,
label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1em;
  transition: opacity 0.225s cubic-bezier(0.4, 0, 0.2, 1);
}
label.icon {
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  font-size: 1em;
  margin-top: -2px;
  padding: 0 4px;
}
label.icon:before {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  margin-right: 4px;
}
label.clickable {
  cursor: pointer;
  border-radius: 2px;
}
label.clickable:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
h3 .icon,
h4 .icon,
h5 .icon {
  height: 24px;
  line-height: 24px;
  vertical-align: text-bottom;
  display: inline-block;
}
h3 .icon:before,
h4 .icon:before,
h5 .icon:before {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
.close {
  background-image: url(../img/icon/close.svg);
}
.back {
  background-image: url(../img/icon/back.svg);
}
.paginationRight {
  background-image: url(../img/icon/paginationRight.svg);
}
.paginationLeft {
  background-image: url(../img/icon/paginationLeft.svg);
}
.dropDown {
  background-image: url(../img/icon/dropDown.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px 24px;
  padding-right: 24px;
}

pressing {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.325s;
}
button[ripple="light"] pressing {
  background-color: #fff;
}
button:active pressing {
  opacity: 0.12;
}
/*dialog*/
.dialog {
  width: 280px;
  height: auto;
  overflow: hidden;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 128px;
  z-index: 24;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  opacity: 1;
  transition: opacity 0.195s cubic-bezier(0.4, 0, 1, 1);
  outline: none;
}
.dialog[state="on"] {
  animation: dialogFadeIn 0.225s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
  z-index: 24;
}
.dialog[state="off"] {
  opacity: 0;
  z-index: 0;
}
@keyframes dialogFadeIn {
  from {
    transform: scale(0.8, 0.8);
  }
  to {
    transform: scale(1, 1);
  }
}
.dialog > * {
  transition: all 0.225s 0.225s cubic-bezier(4, 0, 0.2, 1);
}
.dialog > content-area {
  display: block;
  padding: 24px;
}
.dialog h2 {
  margin: 0;
  margin-bottom: 20px;
}
.dialog > action-area {
  height: 52px;
}
/*content*/
face {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px;
  float: left;
}
