/* app bar */
header {
  width: 100%;
  height: auto;
  flex: 0 0 auto;
  transition: all 0.275s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: flex;
  align-items: center;
}
header.color {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-image: none!important;
  z-index: 4;
}
header::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
header.color:after {
  background-color: #4aa;
  background-color: var(--primary);
}
app-title {
  flex: 1 1 auto;
  color: #fff;
  padding-left: 56px;
  height: 100%;
  font-size: 20px;
}
@media (orientation: landscape) and (max-height: 480px) {
  header {
    height: 48px;
  }
  header app-title {
    line-height: 48px;
  }
}
@media (min-width: 480px) {
  header {
    height: 64px;
  }
  header app-title {
    line-height: 64px;
  }
}
/* tools bar */
tools-bar {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
/* flexible space */
flexible-space {
  display: block;
  position: relative;
  width: 100%;
}
/* contents */
content {
  flex: 1 1 auto;
  overflow: auto;
}