/*button*/
button {
  position: relative;
  display: block;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.195s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
}
button + button {
  margin-right: 0;
}
button.raised {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
button:disabled{
  opacity: 0.3;
  box-shadow: none;
}
.card-part button:not(.icon) {
  float: right;
  margin-bottom: -2px;
}
.card-part button:not(.icon):first-of-type {
  margin-right: -2px;
}
.card-part button.icon{
  margin: auto 0;
}
button.raised:active,
button.raised:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.2);
}
button.flat {
  background-color: #fff;
  padding: 0 8px;
}
button.flat:active,
button.flat:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
button.raised.primary {
  background-color: var(--primary);
  background-color: #4aa;
  color: #fff;
}
button.flat.primary {
  background-color: transparent;
  color: var(--primary, #4aa);
}
button.accent {
  background-color: #f48;
  background-color: var(--accent);
  color: #fff;
}
button.icon {
  padding: 6px;
  width: 36px;
  border-radius: 18px;
  font-size: 24px;
  line-height: 24px;
}
button.icon:active,
button.icon:hover {
  box-shadow: none;
}
h3 > button.icon {
  margin-top: -8px;
}
button.icon.left {
  float: left;
}
button.icon.right {
  float: right;
}
FAB {
  position: fixed;
  right: 24px;
  bottom: 36px;
  width: 64px;
  height: 64px;
  z-index: 12;
}
button.FAB {
  margin: 4px;
  padding: 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 12;
  transform: scale(1, 1);
}
