/* button */
button {
  position: relative;
  display: block;
  height: 36px;
  line-height: 36px;
  font-weight: 500;
  padding: 0 8px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.195s ease-in-out;
  outline: none;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
}
button:disabled {
  opacity: 0.3;
  box-shadow: none;
  cursor: not-allowed;
}
button[loading]:disabled {
  opacity: 1;
}
button[primary],
button[primary].icon {
  color: var(--primary, #5bc5be);
}
button[primary].raised,
button[primary].fab {
  background-color: var(--primary, #5bc5be);
  color: #fff;
}
button[accent],
button[accent].icon {
  color: var(--accent, #d75ba6);
}
button[accent].raised,
button[accent].fab {
  background-color: var(--accent, #d75ba6);
  color: #fff;
}
/* button shade for pressing */
shade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #999;
  transition: opacity 0.195s ease-in-out;
}
[light] shade {
  /* default */
}
[dark] shade {
  background-color: #ccc;
}

/* flat */
button.flat {
  min-width: 88px;
}
button:active shade {
  opacity: 0.32;
}
button.flat:disabled {
  opacity: 0.3;
  cursor: disabled;
}
/* icon */
button.icon {
  padding: 6px;
  width: 36px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 24px;
}
button.icon shade {
  background-color: #ccc;
}
button.icon[dark] shade {
  background-color: #999;
}
button.icon[primary] shade {
  background-color: var(--primary, #5bc5be);
}

/* raised */
button.raised {
  background-color: #fff;
  padding: 0 16px;
}
button.raised:active,
button.raised:hover {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
button.raised[primary] shade {
  background-color: #ccc;
}
@media (max-width: 1024px) {
  button.raised {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  button.raised:active,
  button.raised:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

/* FAB */
button.fab {
  position: fixed;
  right: 24px;
  bottom: 28px;
  padding: 0;
  margin: 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 12;
  transform: scale(1, 1);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
button.fab:active,
button.fab:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.2);
}
button.fab[hidden] {
  transform: scale(0, 0);
}