/* card collection */
card-collection {
  box-sizing: border-box;
  flex: 1 1 480px;
  max-width: 480px;
  width: 100%
}
layout card-collection {
  margin: 4px 4px;
}
layout[gutter="2"] card-collection {
  margin: 4px 8px;
}
layout[gutter="3"] card-collection {
  margin: 4px 12px;
}
layout[gutter="4"] card-collection {
  margin: 4px 20px;
}

/* card */
card {
  display: block;
  position: relative;
  margin: 8px 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.225s ease-in-out;
  z-index: 2;
  /* animation: collectFromBottom 0.225s cubic-bezier(0.4, 0, 0.2, 1); */
}
card:first-of-type {
  margin-top: 0;
}
card:last-of-type {
  margin-bottom: 0;
}
card[primary] {
  background-color: var(--primary, #5bc5be);
  color: #fff;
}
@media (max-width: 1024px) {
  card {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  }
}
@keyframes collectFromBottom {
  from {
    transform: translateY(72);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
card-actions {
  display: flex;
  padding: 4px;
  justify-content: flex-end;
  align-items: center;
}
card-actions button {
  margin: 4px;
}

/* card-contents*/

card-contents {
  padding: 16px;
  display: block;
}

card-title {
  display: block;
  font-size: 24px;
  padding-top: 8px;
  font-weight: 600;
}
card-subtitle {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  padding: 4px 0;
}
card-title.small {
  font-size: 16px;
  padding-top: 0;
}

/* card image */
card img {
  display: block;
}
card img.hori-stretch + card-contents {
  padding-top: 8px;
}
card img.hori-stretch {
  width: 100%;
}
card.hori-layout {
  display: flex;
  align-items: flex-start;
}
card.hori-layout img.verti-stretch {
  flex: 0 0 auto;
  height: 100%;
}
