
/*drawer*/
.drawer {
  height: 200%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  background-color: #fefefe;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  outline: none;
}
.drawer[state="on"] {
  transform: translate(0, 0);
  transition: transform 0.225s cubic-bezier(0, 0, 0.2, 1);
}
.drawer[state="off"] {
  transform: translate(-340px, 0);
  transition: transform 0.195s cubic-bezier(0.4, 0, 1, 1);
}
.drawerTheme {
  height: 104px;
  width: 288px;
  float: top;
  background-position: center;
  background-size: cover;
  padding: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
/*list*/
.list {
  background: #fefefe;
  border-radius: 2px;
  overflow: hidden;
  z-index: 4;
  height: auto;
  width: auto;
  outline: none;
  opacity: 0;
  z-index: 24;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.list[state="on"] {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  transition: max-height 0.375s 0.125s cubic-bezier(0.4, 0, 0.2, 1),
    max-width 0.375s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.375s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.list[state="off"] {
  box-shadow: none;
  max-width: 0;
  max-height: 0;
  transition: max-height 0.375s cubic-bezier(0.4, 0, 0.2, 1),
    max-width 0.375s 0.125s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.375s 0.125s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.375s 0.125s cubic-bezier(0.4, 0, 0.2, 1); 
}
.drawer > button,
.list > button {
  height: 48px;
  width: 100%;
  text-align: left;
  margin: 0;
  margin-top: 8px;
  padding: 0 16px;
  border-radius: 0;
  min-width: 112px;
}
.list > button{
  width: auto;
  transition: opacity 0.275s .375s cubic-bezier(0.4, 0, 0.2, 1);
}
.list[state="on"] > button:not(:disabled){
  opacity: 1;
}
.list[state="off"] > button{
  opacity: 0;
}
.drawer > button + button,
.list > button + button {
  margin-right: 0;
  margin-top: 0;
}
.list button:last-of-type {
  margin-bottom: 8px;
}
.drawer .icon{
  color: rgba(0,0,0,.54);
  margin-right: 32px;}
.list .icon {
  margin-right: 32px;
}