ripple {
  border-radius: 50%;
  transform: scale(0, 0);
  position: absolute;
  background-color: #000;
  opacity: 0;
  transform-origin: center;
}
button:not(.icon)[dark]>ripple,
button:not(.icon)[primary]>ripple,
button.icon[light]>ripple {
  background-color: #fff;
}
button.icon[primary]>ripple {
  background-color: var(--primary, #5bc5be);
}
ripple.blooming {
  animation: bloom 0.425s ease-in-out, wave 0.375s ease-in-out;
}
@keyframes bloom {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes wave {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0.24;
  }
  100% {
    opacity: 0;
  }
}