/*tabs bar*/
tabs-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
}
tabs-bar tab {
  float: left;
  display: block;
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  color: #000;
  opacity: 0.54;
  transition: opacity 0.225s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
[primary] tab,
header.color tab {
  color: #fff;
}
tabs-bar tab.active {
  opacity: 1;
}
tabs-bar tab-slected-line {
  position: absolute;
  height: 3px;
  background-color: var(--primary, #5bc5be);
  transition: all 0.225s cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
}
[primary] tab-slected-line,
header.color tab-slected-line {
  background-color: #fff;
}
tabs-panels-collection {
  box-sizing: border-box;
  height: 100%;
  min-height: 360px;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}
tabs-panels-collection["gesture"] *{
  overflow: hidden;
}
/* tabs-panels-collection::-webkit-scrollbar{
	width: 0;
	height: 0;
} */
tab-panel {
  flex: 0 0 auto;
  position: absolute;
  left:0;top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: hidden;
  transition: opacity 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  transform: translateX(100%);
}
tab-panel.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
  overflow-y: auto;
}
tab-panel.left.hide {
  transform: translateX(-100%);
}
tab-panel.right.hide {
  /* default */
}
card tabs-bar{
  border-bottom: 1px solid rgba(0,0,0,.12)
}